<div class="container">
  <div class="myFont">{{text}}</div>
  <div class="left">
    <div class="table" [ngStyle]="{'border-radius': martBorderRadius+'px'}">
      <ngx-emoj
        (onemojipick)="handleEmoji($event)"
        (onchardelete)="handleCharDelete()"
        [width]="'342px'"
        [height]="'334px'"
        [theme]="{
              martShowHeader: showHeader,
              martShowFooter: showFooter,
              martHeaderPadding: {x: x1+'px', y: y1+'px'},
              martFooterPadding: {x: x2+'px', y: y2+'px'},
              martHeaderBG: martHeaderBG,
              martFooterBG: martFooterBG,
              martBG: martBGcolor,
              martCategoryColor: martCategoryColor,
              martCategoryColorActive:  martCategoryColorActive,
              martActiveCategoryIndicatorColor: martActiveCategoryIndicatorColor,
              martEmojiFontSize: martEmojiFontSize+'%',
              martCategoryFontSize: martCategoryFontSize+'px',
              martBorderRadius: martBorderRadius+'px',
              martActiveCategoryIndicatorHeight: martActiveCategoryIndicatorHeight+'px',
              martEmojiPadding: {x: x3+'px', y: y3+'px'}
            }">
      </ngx-emoj>

    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button class="myFont btn-lg btn-primary" mat-button (click)="openDialog()">Launch dialog</button>
