<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <img class="logo" src="../../assets/images/logo.png" alt="MessageBook" routerLink="/messages">
    <a class="navbar-brand" routerLink="/messages">Messenger App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link box" routerLink="/messages">Messages</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link box" routerLink="/users">Users</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link box" routerLink="/loginHistory">History</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link box" routerLink="/profile">Profile</a>
            </li>
        </ul>

        <span class="navbar-text" *ngIf="activeLogin; else elseBlock">
            <strong><a class="nav-link login" routerLink="/profile">{{activeLogin}}</a></strong>
            <mat-icon routerLink="/login" (click)="logout()">logout</mat-icon>
        </span>

        <ng-template #elseBlock>
            <span class="navbar-text">
                <mat-icon>login</mat-icon>
                <a class="nav-link padding" routerLink="/login">Login</a>
            </span>
            <span class="navbar-text">
                <mat-icon>person_add</mat-icon>
                <a class="nav-link padding" routerLink="/signup">SignUp</a>
            </span>
        </ng-template>
    </div>
</nav>
