<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <p>Auth: {{printAuth}}</p>
                        <div class="form-group">
                            <label>
                                <input type="text" class="form-control" name="username"
                                       (keyup)="changeName({event : $event})" [value]="auth.name">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="password" class="form-control" name="password"
                                       [(ngModel)]="auth.password">
                            </label>
                        </div>
                        <button type="submit" id="sendlogin" class="btn btn-primary">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>