<div class="container-fluid row usersBox">

  <div class="col-sm-3">
    <h1 class="myFont title">Chats</h1>
    <div class="chats">
      <div class="chat box myFont" *ngFor="let user of objUsers" (click)="getMessages(user)">
        <div class="clicked userDiv" *ngIf="isClicked == user.login; else userElseBlock">
          <img class="userLogo" src="../../assets/images/user.png" alt="User">
          <div class="userRealName">
            <span class="userName">{{user.login}}</span>
            <span class="userName infoMessage">{{user.fName}} {{user.lName}}</span>
          </div>
        </div>
        <ng-template #userElseBlock>
          <div class="userDiv">
            <img class="userLogo" src="../../assets/images/user.png" alt="User">
            <div class="userRealName">
              <span class="userName">{{user.login}}</span>
              <span class="userName infoMessage">{{user.fName}} {{user.lName}}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-sm-9 messages">
    <div class="myFont headerWrapper" *ngIf="isClicked">{{objUser.login}} &nbsp; <span class="infoMessage wrapperInfo">{{objUser.fName +' '+ objUser.lName}}</span></div>

    <div class="list-group">
      <span class="infoMessage" *ngIf="isClicked == ''; else mainElseBlock">Choose a person to chat with!</span>
      <ng-template #mainElseBlock>
        <span class="infoMessage" *ngIf="messages.length == 0; else outerElseBlock">No messages yet! Try saying hello to your friends.</span>
        <ng-template #outerElseBlock>
          <div class="message" *ngFor="let message of messages">
            <div class="msgDiv mine" *ngIf="message.from == user; else elseBlock">
              <span class="myFont settings"><span class="myFont timeFont">{{message.time}}</span><mat-icon class="setting-icon" (click)="deleteMessage(message)">delete</mat-icon></span>
              <div class="finalMsgFormat myMessage myFont showSpaces">{{message.message}}</div>
            </div>
            <ng-template #elseBlock>
              <div class="msgDiv notMine">
                <div class="finalMsgFormat incomingMessage myFont showSpaces">{{message.message}}</div>
                <span class="myFont settings"><span class="myFont timeFont">{{message.time}}</span></span>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </ng-template>
      <div class="blank myFont" id="scrollTarget"></div>
    </div>

    <div class="container-fluid row messageInput">
      <form (ngSubmit)="onSubmitMessage()" autocomplete="off" class="messageInput">
        <div class="form-group">
          <input type="text" name="msg" class="form-control" placeholder="message {{message.to}}" [(ngModel)]="message.message" required minlength="1">

          <button type="submit" class="btn btn-primary">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
