.myFont {
  color: white;
}
.title {
  font-weight: 500;
  font-size: 25px;
  margin: 0 10px 10px 5px;
}
.newMessageDiv {
  max-width: 300px;
}
.infoMessage {
  text-align: center;
  color: #8a8d91;
}
.container-fluid {
  margin: 0;
  padding: 0;
  height: calc(100% - 68px);
}
.box {
  transition: box-shadow .3s;
  border-radius: 10px;
  width: fit-content;
}
.box:hover {
  box-shadow: 0 0 11px #8a8d91;
}
.col-sm-3 {
  padding: 10px;
}
.chats {
  border-top: solid gray;
  padding-top: 10px;
}
.chat {
  height: 50px;
  width: auto;
}
.clicked {
  height: 100%;
  background-color: rgba(51,143,255,0.20);
  border-radius: 10px;
}
.userLogo {
  margin-left: 10px;
  max-width: 35px;
  max-height: 35px;
}
.userDiv {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userName {
  padding-left: 10px;
}


.col-sm-9 {
  border-left: solid gray;
  padding: 10px;
}
.btn {
  height: 37px;
  margin-left: 5px;
}
.form-control {
  height: 37px;
}
label {
  margin: 0;
}
.form-group {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
