<mat-card class="profile-card">
  <div class="header">
    <mat-icon>face</mat-icon>
    <div class="header-text">Your profile</div>
  </div>
  <mat-card-content>
    <table>
      <tr>
        <th>First Name</th>
        <td>{{user.fName}}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{user.lName}}</td>
      </tr>
      <tr>
        <th>Login</th>
        <td>{{user.login}}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="btn btn-primary" mat-button data-toggle="modal" data-target="#edit-user-modal">EDIT
    </button>
    <button type="button" class="btn btn-danger" mat-button data-toggle="modal" data-target="#delete-user-modal">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
<app-user-edit (saved)="updateUser($event)"></app-user-edit>
<app-user-delete></app-user-delete>